<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>webDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Accounts</display-name>
    <servlet-name>Accounts</servlet-name>
    <servlet-class>cn.edu.buaa.gridWeb.servlet.AccountsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accounts</servlet-name>
    <url-pattern>/Accounts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Account</display-name>
    <servlet-name>Account</servlet-name>
    <servlet-class>cn.edu.buaa.gridWeb.servlet.AccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Account</servlet-name>
    <url-pattern>/Account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountCreate</display-name>
    <servlet-name>AccountCreate</servlet-name>
    <servlet-class>cn.edu.buaa.gridWeb.servlet.AccountCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountCreate</servlet-name>
    <url-pattern>/AccountCreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Email</display-name>
    <servlet-name>Email</servlet-name>
    <servlet-class>cn.edu.buaa.gridWeb.servlet.EmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Email</servlet-name>
    <url-pattern>/Email</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Password</display-name>
    <servlet-name>Password</servlet-name>
    <servlet-class>cn.edu.buaa.gridWeb.servlet.PasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Password</servlet-name>
    <url-pattern>/Password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAccountInfo</display-name>
    <servlet-name>EditAccountInfo</servlet-name>
    <servlet-class>cn.edu.buaa.gridWeb.servlet.EditAccountInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAccountInfo</servlet-name>
    <url-pattern>/EditAccountInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountMap</display-name>
    <servlet-name>AccountMap</servlet-name>
    <servlet-class>cn.edu.buaa.gridWeb.servlet.AccountMapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountMap</servlet-name>
    <url-pattern>/AccountMap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuildAccountStatusServlet</display-name>
    <servlet-name>BuildAccountStatusServlet</servlet-name>
    <servlet-class>cn.edu.buaa.gridWeb.servlet.userStatus.BuildAccountStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuildAccountStatusServlet</servlet-name>
    <url-pattern>/BuildAccountStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApprovalStatusServlet</display-name>
    <servlet-name>ApprovalStatusServlet</servlet-name>
    <servlet-class>cn.edu.buaa.gridWeb.servlet.userStatus.ApprovalStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovalStatusServlet</servlet-name>
    <url-pattern>/ApprovalStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuildMapStatusServlet</display-name>
    <servlet-name>BuildMapStatusServlet</servlet-name>
    <servlet-class>cn.edu.buaa.gridWeb.servlet.userStatus.BuildMapStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuildMapStatusServlet</servlet-name>
    <url-pattern>/BuildMapStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuildVPNStatusServlet</display-name>
    <servlet-name>BuildVPNStatusServlet</servlet-name>
    <servlet-class>cn.edu.buaa.gridWeb.servlet.userStatus.BuildVPNStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuildVPNStatusServlet</servlet-name>
    <url-pattern>/BuildVPNStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuildTrialStatusServlet</display-name>
    <servlet-name>BuildTrialStatusServlet</servlet-name>
    <servlet-class>cn.edu.buaa.gridWeb.servlet.userStatus.BuildTrialStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuildTrialStatusServlet</servlet-name>
    <url-pattern>/BuildTrialStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuildOfficialStatusServlet</display-name>
    <servlet-name>BuildOfficialStatusServlet</servlet-name>
    <servlet-class>cn.edu.buaa.gridWeb.servlet.userStatus.BuildOfficialStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuildOfficialStatusServlet</servlet-name>
    <url-pattern>/BuildOfficialStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserPrivacyManageServlet</display-name>
    <servlet-name>UserPrivacyManageServlet</servlet-name>
    <servlet-class>cn.edu.buaa.gridWeb.servlet.UserPrivacyManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPrivacyManageServlet</servlet-name>
    <url-pattern>/UserPrivacyManageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>cn.edu.buaa.gridWeb.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogoutServlet</display-name>
    <servlet-name>UserLogoutServlet</servlet-name>
    <servlet-class>cn.edu.buaa.gridWeb.servlet.UserLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogoutServlet</servlet-name>
    <url-pattern>/UserLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FailureMapServlet</display-name>
    <servlet-name>FailureMapServlet</servlet-name>
    <servlet-class>cn.edu.buaa.gridWeb.servlet.FailureMapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FailureMapServlet</servlet-name>
    <url-pattern>/FailureMapServlet</url-pattern>
  </servlet-mapping>
</web-app>